body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
.main {
  padding: 40px 15px;

}
.ui-autocomplete {
    max-height: 200px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10000;
  }
  * html .ui-autocomplete {
    height: 100px;
  }
.table td {
   border-right: 1px solid gray;
}

canvas-container {
        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }