{% extends "index.html" %}
{% block title %} Player stats for {{ name }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center panel-title">Ranking (per game)</h3>
            </div>
            <div class="panel-body canvas-container">
                <canvas id="myChart" width="275" height="275"></canvas>
            </div>
        </div>

    </div>
    <div class="col-lg-10">


        <div class="row">
            <div class="col-lg-6">
                <ul class="nav nav-tabs" id="tabchooser">
                    <li class="active"><a href="#alltime">All time</a></li>
                    <li><a href="#monthly">Monthly</a></li>
                    <li><a href="#weekly">Weekly</a></li>
                    <li><a href="#daily">Daily</a></li>
                </ul>
                <div class="tab-content" id="content">
                <div class="panel panel-default tab-pane active" id="alltime">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h3
                            class="panel-title text-center">All-time stats for
                        {{name}}</h3></div>
                    <div class="panel-body">
                        <a href="http://tagpro-origin.koalabeast.com/profile/{{profile_string}}"><span
                                class="glyphicon glyphicon-link pull-right"></span></a>
                        <h6 class="text-center">Last updated:
                            {{humanize(last_updated)}}</h6>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Per Hour</th>
                            <th>Per Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item, value in iter(sorted(stats.iteritems())) %}
                        <tr>
                            <td>{{ item }}</td>
                            <td><a href="#">{{value}}<span
                                    class="badge pull-right">Ranked {{ordinalize(ranks[item])}}</span></a>
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Hours']|float)}}
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Games']|float)}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default tab-pane" id="monthly">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h3
                            class="panel-title text-center">Monthly stats for
                        {{name}}</h3></div>
                    <div class="panel-body">
                        <a href="http://tagpro-origin.koalabeast.com/profile/{{profile_string}}"><span
                                class="glyphicon glyphicon-link pull-right"></span></a>
                        <h6 class="text-center">Last updated:
                            {{humanize(last_updated)}}</h6>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Per Hour</th>
                            <th>Per Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item, value in iter(sorted(monthly_stats.iteritems())) %}
                        <tr>
                            <td>{{ item }}</td>
                            <td><a href="#">{{value}}</a>
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Hours']|float)}}
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Games']|float)}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default tab-pane" id="weekly">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h3
                            class="panel-title text-center">Weekly stats for
                        {{name}}</h3></div>
                    <div class="panel-body">
                        <a href="http://tagpro-origin.koalabeast.com/profile/{{profile_string}}"><span
                                class="glyphicon glyphicon-link pull-right"></span></a>
                        <h6 class="text-center">Last updated:
                            {{humanize(last_updated)}}</h6>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Per Hour</th>
                            <th>Per Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item, value in iter(sorted(weekly_stats.iteritems())) %}
                        <tr>
                            <td>{{ item }}</td>
                            <td><a href="#">{{value}}</a>
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Hours']|float)}}
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Games']|float)}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default tab-pane" id="daily">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h3
                            class="panel-title text-center">Daily stats for
                        {{name}}</h3></div>
                    <div class="panel-body">
                        <a href="http://tagpro-origin.koalabeast.com/profile/{{profile_string}}"><span
                                class="glyphicon glyphicon-link pull-right"></span></a>
                        <h6 class="text-center">Last updated:
                            {{humanize(last_updated)}}</h6>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Per Hour</th>
                            <th>Per Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item, value in iter(sorted(daily_stats.iteritems())) %}
                        <tr>
                            <td>{{ item }}</td>
                            <td><a href="#">{{value}}</a>
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Hours']|float)}}
                            </td>
                            <td>{{'%0.2f'|
                                format(value/stats['Games']|float)}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='chart.min.js')}}"
        type="text/javascript"></script>
<script type="text/javascript">
        //Get context with jQuery - using jQuery's .get() method.
        //This will get the first returned node in the jQuery collection.

        $.getJSON( "/radar/{{name}}", function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            var chart_data = {
            labels : ["Captures", "Drops", "Hold", "Popped", "Prevent", "Returns", "Support"],
            	datasets : [
		{
			data : data,
			fillColor : "rgba(30,30,220,0.5)",
			strokeColor : "rgba(60,60,220,1)",
			pointColor : "rgba(90,90,220,1)",
			pointStrokeColor : "#fff",
		}]};
		    var options = {
		    scaleOverlay: true,
			scaleOverride: true,
			scaleStartValue: 0,
			scaleSteps: 4,
			scaleStepWidth: .25,

		    };

            var myNewChart = new Chart(ctx).Radar(chart_data, options);
        });
        $('#tabchooser a').click(function (e) {
          e.preventDefault();
        $(this).tab('show');
        });




</script>
{% endblock %}